body{
    margin: 0;
    padding: 0;
    background-image: conic-gradient(rgb(0, 0, 0), rgb(134, 134, 132) 20%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, rgb(134, 134, 132) 40%, rgb(0, 0, 0) 60%, rgb(0, 0, 0) 80%, rgb(134, 134, 132) 80%, rgb(0, 0, 0) 100%);

}

#container{
    
    align-items: center;
    width: 100%;
    height: 100%;
   
    
    
}

#container h2{
    color: white;
    font-size: 30px;
}

#container img{
    width: 100px;
    height: 100px;
}

#titulo img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

}

#container h2{
    color: white;
    font-size: 30px;
    text-align: center;
}

#container h1{
    color: white;
    font-size: 50px;
    
}

.Opciones{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-row: 1rem;
    justify-items: center;
    align-items: center;
 
    
}

.Opciones img{
    width: 100px;
    height: 100px;
}

.Opciones h2{
    color: white;
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin: 1px;
}


.c1{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-row: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    margin: 50px;
    padding: 0px;
    height: 95%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    
}

.c1 iframe{
    grid-column-start: 1;
    grid-column-end: 5;
}

.c1 img{
    width: 800px;
    height: 100%;
    
}

.c1 p{
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 10px;

}

.c1 button{
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px 0px 25px 0px;
    transition: all 0.3s ease-in-out;
}

.c1:hover{
    color: white;
    background-color: rgba(27, 26, 26, 0.5);
    opacity: 0.8;
}


.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 25px 0px 25px 0px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
}

footer button{
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px 0px 25px 0px;
    transition: all 0.3s ease-in-out;
}

footer button:hover{
    color: white;
    background-color: rgba(27, 26, 26, 0.5);
    opacity: 0.8;
}